:root {
    --color-white: #ffffff; //var(--color-white,  #ffffff);
    --color-black: #171411; //var(--color-black, #171411);

    --color-SlateGray: #726E8D; //var(--color-SlateGray, #726E8D);
    --color-DarkSlateGray: #22202E; // rgba(34, 32, 46, 0.7); //var(--color-DarkSlateGray, #22202E);
    --color-DimGray:#665A4E; //var(--color-DimGray, #665A4E);
   

    /* Fonts */
    --font-satoshi: "Satoshi Variable", sans-serif; //var(--font-satoshi);
    --font-clash: "Clash Display", sans-serif; //var(--font-clash);

    /* Size */
    --max-width: 90rem; //1440px; //var(--max-width);
}

// --font-family: "Satoshi Variable", sans-serif;
// --second-family: "Clash Display Variable", sans-serif;
// --third-family: "Inter", sans-serif;