$clash-path: "../../../style/font/ClashDisplay_Complete/ClashDisplay-";
$satoshi-path: "../../../style/font/Satoshi_Complete/Satoshi-";
$icon-path: "../../../style/font/icomoon/";
$icon-name: "?vclath";


/* Satoshi - regular */
@font-face {
	font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    // src: url("../../../style/font/Satoshi_Complete/Satoshi-Regular.eot");
    src: url($satoshi-path + 'Regular.eot'); // IE9 Compat Modes
    src: local(''),
         url($satoshi-path + 'Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url($satoshi-path + 'Regular.woff2') format('woff2'), // Super Modern Browsers
         url($satoshi-path + 'Regular.woff') format('woff'), // Modern Browsers
         url($satoshi-path + 'Regular.ttf') format('truetype'), // Safari, Android, iOS
         url($satoshi-path + 'Regular.svg#Satoshi-Regular') format('svg'); // Legacy iOS
}

/* Clash Display - regular */
@font-face {
	font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url($clash-path + 'Regular.eot'); // IE9 Compat Modes
    src: local(''),
         url($clash-path + 'Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url($clash-path + 'Regular.woff2') format('woff2'), // Super Modern Browsers
         url($clash-path + 'Regular.woff') format('woff'), // Modern Browsers
         url($clash-path + 'Regular.ttf') format('truetype'), // Safari, Android, iOS
         url($clash-path + 'Regular.svg#ClashDisplay-Regular') format('svg'); // Legacy iOS
}

/* Clash Display - Medium */
@font-face {
	font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url($clash-path + 'Medium.eot'); // IE9 Compat Modes
    src: local(''),
         url($clash-path + 'Medium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url($clash-path + 'Medium.woff2') format('woff2'), // Super Modern Browsers
         url($clash-path + 'Medium.woff') format('woff'), // Modern Browsers
         url($clash-path + 'Medium.ttf') format('truetype'), // Safari, Android, iOS
         url($clash-path + 'Medium.svg#ClashDisplay-Medium') format('svg'); // Legacy iOS
}


/* font icon */
@font-face {
	font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url($icon-path + 'icomoon.eot' + $icon-name); // IE9 Compat Modes
    src: local(''),
         url($icon-path + 'icomoon.eot'+ $icon-name +'#iefix') format('embedded-opentype'), // IE6-IE8
         url($icon-path + 'icomoon.woff2' + $icon-name) format('woff2'), // Super Modern Browsers
         url($icon-path + 'icomoon.woff' + $icon-name) format('woff'), // Modern Browsers
         url($icon-path + 'icomoon.ttf' + $icon-name) format('truetype'), // Safari, Android, iOS
         url($icon-path + 'icomoon.svg' + $icon-name + '#icomoon') format('svg'); // Legacy iOS
}

  [class^="icon-"]::before, [class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: var(--color-DimGray, #665A4E);
    font-size: 1rem; //16px;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\e900";
  }
  .icon-car:before {
    content: "\e901";
  }
  .icon-user:before {
    content: "\e902";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-menu-close:before {
    content: "\e904";
  }
  .icon-delivery:before {
    content: "\e905";
  }
  .icon-card:before {
    content: "\e906";
  }
  .icon-facebook:before {
    content: "\e907";
  }
  .icon-linkendin:before {
    content: "\e908";
  }
  .icon-instagram:before {
    content: "\e909";
  }
  .icon-plant:before {
    content: "\e90a";
  }
  .icon-check:before {
    content: "\e90b";
  }
  .icon-arrow:before {
    content: "\e90c";
  }




